html,body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #214E41;
}

header .container{
    align-items: center;
    display: flex;
    max-width: 1180px;
    margin: 0px auto;
    padding: 10px;
}

.logo{
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    margin-right: auto;
}

.nav__link{
    gap: 20px;
    display: flex;
}

.nav__link li a{
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.nav__link li a:hover{
    color: rgb(211, 211, 211);
    transition: 0.2s;
}

li{
    list-style: none;
}

.burger{
    cursor: pointer;
}

/* трансформация бургера в крестик */
.active__burger::before{
    transform: rotate(45deg);
    top: auto!important;
    bottom: 9px;
}

.active__burger::after{
    transform: rotate(-45deg);
    top: 8px!important;
    bottom: -9px;
}

.active__burger span{
    transform: scale(0);
}


@media (max-width: 991px) {
    .nav__link{
        display: none;
    }

    .burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    
    .burger::after,
    .burger::before{
        content: '';
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    
    .burger::before{
        top: 0;
    }
    
    .burger::after{
        bottom: 0;
    }
    
    .burger span{
        position: absolute;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    header{
        border-bottom: 1px solid white;
    }

    .active__panel{
        display: grid;
        position: absolute;
        right: 0;
        padding: 228px 10px 10px 10px;
        background: #216652;
        z-index: -1;
        width: -webkit-fill-available;
    }
}